
@inject IStaticDataValues staticData

@{
    ViewData["Title"] = Localizer["Contact Us"];
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string Email = staticData.GetValue("Email", null);
    string Phone = staticData.GetValue("Phone", null);
    string Location = staticData.GetValue("Location", null);
    string FaceBook = staticData.GetValue("FaceBook", null);
    string Twitter = staticData.GetValue("Twitter", null);
    string Instgram = staticData.GetValue("Instgram", null);
    string Pinterest = staticData.GetValue("Pinterest", null);
    string Map = staticData.GetValue("Map", null);
}
@inject IViewLocalizer Localizer
@section Banner{

    <!-- banner1 -->
    <div class="banner1 jarallax" style="background: url(/Uploads/StaticImages/@staticData.GetValue("ContactUs_Banner",null)) no-repeat 0px -99px;">
        <div class="container">
        </div>
    </div>

    <div class="services-breadcrumb">
        <div class="container">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a><i>|</i></li>
                <li>@Localizer["Contact Us"]</li>
            </ul>
        </div>
    </div>
    <!-- //banner1 -->
}
<div class="banner-bottom" id="about">
    <div class="container">
        <h2 class="w3_heade_tittle_agile">@Localizer["Contact Us"]</h2>
        <p class="sub_t_agileits">@Localizer["Get in touch..."]</p>

        <div class="contact-top-agileits">
            <div class="col-md-4 contact-grid ">
                <div class="contact-grid1 agileits-w3layouts">
                    <i class="fa fa-location-arrow"></i>
                    <div class="con-w3l-info">
                        <h4>@Localizer["Address"] </h4>
                        <p>@Location</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 contact-grid">
                <div class="contact-grid2 w3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="con-w3l-info">
                        <h4>@Localizer["Call Us"]</h4>
                        <p><a href="tel:@Phone"> @Phone</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 contact-grid">
                <div class="contact-grid3 w3l">
                    <i class="fa fa-envelope"></i>
                    <div class="con-w3l-info">
                        <h4>@Localizer["Email"]</h4>
                        <p><a href="mailto:@Email">@Email</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="contact-form-aits">
            @if (ViewBag.Done != null)
            {
                <h3>@ViewBag.Done</h3>
            }
            else
            {
                <form asp-action="ContactUs" method="post">
                    <input type="text" class="margin-right" name="Name" placeholder="@Localizer["Name"]" required="">
                    <input type="email" name="Email" placeholder="@Localizer["Email"]" required="">
                    <input type="text" class="margin-right" name="Phone" placeholder="@Localizer["Phone Number"]" required="">
                    <input type="text" name="Subject" placeholder="@Localizer["Subject"]" required="">
                    <textarea name="Message" placeholder="@Localizer["Message"]" required=""></textarea>
                    <div class="send-button agileits w3layouts">
                        <button class="btn btn-primary">@Localizer["SEND MESSAGE"]</button>
                    </div>
                </form>
            }

            <ul class="agileits_social_list two">
                <li class="fallow"> @Localizer["Follow Us :"]</li>
                <li><a href="@FaceBook" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="@Twitter" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="@Pinterest" class="w3_agile_dribble"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="@Instgram" class="w3_agile_rss"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </div>
</div>

<div class="map_agile">
    <iframe src="@Map" style="border:0"></iframe>


</div>