@model IEnumerable<Image>
@{
    ViewData["Title"] = Localizer["Our Labs Gallery"];
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var currentCulture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
}
@inject IViewLocalizer Localizer
@inject IStaticDataValues staticData
@section Banner{
    <!-- banner1 -->
    <div class="banner1 jarallax" style="background: url(/Uploads/StaticImages/@staticData.GetValue("OurLabs_Banner",null)) no-repeat 0px -99px;">
        <div class="container">
        </div>
    </div>

    <div class="services-breadcrumb">
        <div class="container">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a><i>|</i></li>
                <li>@Localizer["Our Labs Gallery"]</li>
            </ul>
        </div>
    </div>
    <!-- //banner1 -->
}

<!-- Portfolio -->
<div class="portfolio" id="specials">
    <div class="container">
        <h2 class="w3_heade_tittle_agile">@Localizer["Our Labs Gallery"]</h2>
        <p class="sub_t_agileits">@Localizer["Quality Care..."]</p>

        <div class="tabs tabs-style-bar">


            <div class="content-wrap">

                <!-- Tab-1 -->
                <div class="gallery-grids">
                    @if (currentCulture.Name == "ar")
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="~/Uploads/Images/@(item.ID).jpg" class="swipebox">
                                    <figure class="effect-apollo">
                                        <img src="~/Uploads/Images/@(item.ID).jpg" alt="Health Plus" class="img-responsive">
                                        <figcaption>@item.Description</figcaption>
                                    </figure>
                                </a>
                            </div>

                        }
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-4 gallery-top">
                                <a href="~/Uploads/Images/@(item.ID).jpg" class="swipebox">
                                    <figure class="effect-apollo">
                                        <img src="~/Uploads/Images/@(item.ID).jpg" alt="Health Plus" class="img-responsive">
                                        <figcaption>@item.Description_EN</figcaption>
                                    </figure>
                                </a>
                            </div>

                        }
                    }
                    <div class="clearfix"></div>
                </div>

            </div><!-- //Content -->
        </div><!-- //Tabs -->

    </div>
</div>
<!-- //Portfolio -->
